[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
qiniu = "*"

[dev-packages]

[requires]
python_version = "3.6"
